<app-header></app-header>

<div class="text-center">Moment List</div>

<div class="card card-container col-md-6" *ngIf="updateFormOpen">

  <form name="form" [formGroup]="form" (ngSubmit)="f.form.valid && updateMoment()" #f="ngForm" novalidate>

    <div class="form-group">
      <label for="comment">Comment</label>
      <input type="textarea" class="form-control" formControlName="comment" required maxlength="100" />
      <div class="alert alert-danger" role="alert" *ngIf="f.submitted && form.get('comment').hasError('required')">
        Comment is required!
      </div>
    </div>

    <div class="form-group">
      <label for="tags">Tags</label>
      <input type="tags" class="form-control" formControlName="tags" required />
      <div class="alert alert-danger" role="alert" *ngIf="f.submitted && form.get('tags').hasError('required')">
        Tag is required!
      </div>
    </div>

    <div class="form-group">
      <label for="pic">Moment Pic</label>
      <input type="file" class="form-control" name="momentPic" accept='image/*' (change)="uploadFile($event)"
        #momentPic />
    </div>

    <div class="form-group">
      <button class="btn btn-primary btn-block">
        Update Moment
      </button>
    </div>

    <div class="form-group">
      <div class="card card-container col-md-6">
        <img [src]="imgSrc" width="120" height="120">
      </div>
    </div>

  </form>

</div>

<div class="card card-container">
  <table class="table table-bordered">
    <tr>
      <th>Sr No</th>
      <th>Image</th>
      <th>Comment</th>
      <th>Tags</th>
      <th>Created At</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let moment of momentList;let i=index">
      <td>{{i+1}}</td>
      <td><img height="40" width="40" src="{{moment.imageUrl}}" /></td>
      <td>{{moment.comment}}</td>
      <td>{{moment.tags}}</td>
      <td>{{moment.createdAt}}</td>
      <td><button class="btn btn-info" (click)="editMoment(moment)">
          Edit
        </button>
        <button class="btn btn-danger" (click)="deleteMoment(moment.id)">
          Delete
        </button>
      </td>
    </tr>
  </table>
</div>
